/.github export-ignore
/test export-ignore
/docs export-ignore
/dist export-ignore
/Makefile export-ignore
/.gitignore export-ignore
/.gitattributes export-ignore
/wiki export-ignore
/media export-ignore
